<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PostEx</servlet-name>
		<servlet-class>kr.ac.shinhan.csp.PostExServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostEx</servlet-name>
		<url-pattern>/postEx</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RetrieveMemberServlet</servlet-name>
		<servlet-class>kr.ac.shinhan.csp.RetrieveMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetrieveMemberServlet</servlet-name>
		<url-pattern>/RetrieveMemberServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReadMemberServlet</servlet-name>
		<servlet-class>kr.ac.shinhan.csp.ReadMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadMemberServlet</servlet-name>
		<url-pattern>/ReadMemberServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
